
<div class="row">
  <div class="col-xs-12 offset-xs-0 col-sm-8 offset-sm-2 p-5">


  <div class="card">
    <div class="card-body">
      <h1 class="card-title">¡Contáctanos!</h1>
        <p>Llamanos o escribenos para obtener más información de nuestros productos.</p>
        <ul>
          <li><i class="fab fa-facebook-square"></i> <a href="https://www.facebook.com/alimentosdonmundy/">/AlimentosDonMundy</a></li>
          <li><i class="fas fa-phone"></i><a href="tel:2460 0101"> 2460 0101</a> </li>
          <li><i class="far fa-envelope"></i><a href="mailto:abermudez@donmundialimentos.com">abermudez@donmundialimentos.com</a></li>
        </ul>

      <h3>¡Será un gusto atenderte!</h3>
        
    </div>
  </div>
    
    
  </div>
</div>