<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about2018.jpg" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Historia</span>
              <span class="section-heading-lower">Exportaciones e importaciones Paloblanco S.A.</span>
            </h2>
            <p>
              En el año 1996, con esíritu emprendedor se fundó la empresa Exportaciones e Importaciones Paloblanco S.A. con el fin de exportar materia prima para la industria de alimentos.
            </p>
            <p>Pensando en desarrolar la agroindustria en el departamento del Peten, al norte de Guatemala, se tomó la descisión con un grupo de productores de sembrar  <b>chile habanero</b> para exportarlo en pasta y deshidratado para uso industrial a Luisiana, Nueva Orleans, lo cual se realizó con mucho éxito durante varios años.</p>
            <p>Posteriormente se desarrollo una <b>salsa de chile habanero</b> en la cocina de la casa de uno de sus fundadores. El producto se vendió entre amigos y algunas tiendas, pero debido a la demanda fue necesaria trasladar la producción a unas nuevas instalaciones con mejores condiciones. En la actualidad la empresa opera en bodegas propias con un área de producción de 3,000 metros cuadrados.</p>
            <p>Nuestro siguiente producto, <b>el chile jalapeño en escabeche</b>, con la innovación de empaque en bolsa en sus diferentes presentaciones, fue muy bien recibido por nuestros clientes con su buen sabor, empaque practico y precio atractivo. Bajo esta misma perspectiva se produjo despues una línea de <a href="/productos-donmundy">productos procesados</a> que incluyen las <b>cebollitas en vinagre, ensalada de verduras y chimichurri.</b></p>
            <p>Nuestra marca <b>Don Mundy</b>, se comercializa  en los principales supermercados y cadenas de restaurantes de Centroamérica.</p>
            <p>En todas estas diferentes etapas de la emprsa se han renovado los empaques para mejorar su calidad y presentación, adaptandose a los cambios y exigencias de la industria de alimentos y de nuestros clientes.</p>
            <p>Hoy en día, contamos con una <a href="/productos-frescos">productos frescos - vegetales -</a> tales como lechuga iceberg, lechuga romana, tomate manzano y de cocina, chile pimiento, cebolla, repollo, cilantro, zanahoria y perejil entre otros, de los cuales producimos y coechamos algunos en nuestras propias fincas. También contamos con tecnología de vanguardia para la elaboración de ensaladas de lechugas listas para ser servidas. </p>
            <p>Creemos en nuestra misión y valores los cuales nos motivan a seguir llevando productos de calidad a las familias y negocios de nuestro país.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>