<div class="row">
    <div class="col-xs-12 offset-xs-0 col-md-8 offset-md-2">
    <div id="my-carousel" class="carousel slide" data-ride="carousel">
        
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let product of productos;let index = index" [class.active]="index == 0">
          <img class="d-block w-100" src="{{product.imgUrl}}">
        </div>
      </div>
      <a class="carousel-control-prev" href="#my-carousel" role="button" data-slide="prev">
        <span class="donmundy-control-prev"><i class="fas fa-angle-left"></i></span>   
        <span class="sr-only">Previo</span>
      </a>
      <a class="carousel-control-next" href="#my-carousel" role="button" data-slide="next">
          <span class="donmundy-control-next"><i class="fas fa-angle-right"></i></span>   
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>
</div>