

.main-container-div
{
 
    background: linear-gradient(rgba(15, 47, 15, 0.2), rgba(15, 47, 29, 0.4)), url(../assets/img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

.navbar
{
    padding-left: -15px;
}


