<div class="main-container-div">

<div class="row " >
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <img class="main_logo" src="assets/img/logo_don_mundy.png" alt="Don Mundy">
  </div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Alimentos Don Mundy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-lg-4" routerLinkActive="active" >
          <a class="nav-link text-uppercase text-expanded" routerLink="/inicio">Inicio
          </a>
        </li>
        <li class="nav-item px-lg-4"  routerLinkActive="active" >
          <a class="nav-link text-uppercase text-expanded"   routerLink="/sobre">Acerca de Nosotros</a>
        </li>
        <li class="nav-item  px-lg-4" routerLinkActive="active" >
          <a class="nav-link text-uppercase text-expanded"   routerLink="/productos-donmundy">Productos Don Mundy
          </a>

        </li>
        <li class="nav-item px-lg-4" routerLinkActive="active" >
          <a class="nav-link text-uppercase text-expanded"   routerLink="/productos-frescos">Productos Frescos
          </a>

        </li>
        <li class="nav-item px-lg-4" routerLinkActive="active" >
          <a class="nav-link text-uppercase text-expanded"   routerLink="/contacto">Contactenos</a>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer text-faded text-center py-5">
  <div class="container">
    <p class="m-0 small">Derechos Reservados 2018</p>
  </div>
</footer>

</div>
