<section class="page-section clearfix">
    <div class="container">
      <div class="intro-right">
        <img class="intro-img img-fluid mb-3 mb-lg-2 rounded" src="../assets/img/productos/productos_procesados.png" alt="Productos procesados Don Mundy">
        <div class="intro-text right-0  text-center bg-faded p-5 mb-3 mb-lg-2 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Nuestros productos procesados</span>
            <span class="section-heading-lower">&iexcl;Disfrutalos!</span>
          </h2>
          <p class="mb-3">
            Prueba y disfruta nuestra línea de productos listos para tu mesa: chimichurri, cnsalada de verduras, cebollitas en vinagre, jalapeño en escabeche y chile habanero. 
          </p>
          <p>

          </p>
          <div class="intro-button mb-3 mb-lg-2">
            <a class="btn btn-primary btn-xl" href="/productos-donmundy">CATÁLOGO</a>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="page-section clearfix">
  <div class="container">
    <div class="intro-left">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../assets/img/intro_don_mundy.jpeg" alt="Productos frescos Don Mundy">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Materias Primas</span>
          <span class="section-heading-lower">&iexcl;Somos Productores!</span>
        </h2>
        <p class="mb-3">Producimos el 70% de nuestras materias primas. La espinaca es nuestra principal cocecha y nos permite controlar y asegurar la calidad desde el campo hasta su mesa.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="/productos-frescos">CATÁLOGO</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Nuestra misión</span>
          </h2>
          <p class="mb-0">
            Nuestra misión es permanecer en las cocinas de nuestros clientes brindando productos listos para consumir que permitan ahorrar tiempo en los procesos.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Visión</span>
            </h2>
            <p class="mb-0">
              Ser la empresa líder de alimentos procesados y vegetales frescos elaborados con tecnología de vanguardia.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-left rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Valores</span>
              </h2>
              
                <ul>
                  <li>¡Calidad es lo primero!: Estamos satisfechos únicamente si hacemos lo mejor en cada parte del proceso.</li>
                  <li>Trabajo en equipo: Todos hacemos uno.</li>
                  <li>Actitud positiva: Pensamos positivo, nos sentimos positivos y nos manifestamos positivamente.</li>
                  <li>Sentido de pertenencia: ¡Nuestra marca, nuestra empresa!</li>
                  <li>Visión de futuro: A medida que crece la empresa, también crezco yo.</li>
                  <li>Integridad: Trabajamos con nuestros clientes y proveedores de manera honesta y sincera.</li>
                </ul>
            </div>
          </div>
        </div>
  </div>
</section>